<?xml version="1.0"?>
<model>
  <name>Decco Base Model</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Gus Meyer</name>
    <email>gus@robotics88.com</email>
  </author>


  <maintainer email="gus@robotics88.com">john hsu</maintainer>

  <description>
    A copy of the 3DR Iris model taken from
    https://github.com/PX4/sitl_gazebo/tree/master/models
    With Decco additions
  </description>
</model>
