<?xml version="1.0"?>

<model>
  <name>Decco</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Gus Meyer</name>
    <email>gus@robotics88.com</email>
  </author>

  <author>
    <name>Rhys Mainwaring</name>
  </author>

  <description>
    Starting with decco_base
    add LiftDragPlugin
    add ArduCopterPlugin
  </description>
  <depend>
    <model>
      <uri>model://decco_base</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
